@use 'variables' as v;
#faq {
    padding-top: 12vh;

    img {
        min-height: 70vh;
        object-fit: cover;
        width:70%;
        display: block;
        margin: 0 auto;

        @media(min-width:500px) {
            width: 50%;
        }
    }

    section {
        padding: 1rem;

        @media (min-width:500px) {
            width:80%;
            margin:0 auto;
        }

        h2 {
            color: v.$accent-purple;
        }

        div {
            border: 1px solid v.$accent-yellow;
            padding: 0.3rem 1rem;
            border-radius: 0.6rem;
            margin: 1rem 0;

            h3 {
                color: v.$primary-purple;
                display: flex;
                justify-content: space-between;
                cursor:pointer;

                button {
                    background: none;
                    border: none;
                    color: v.$primary-purple;
                    font-size: 1.2rem;
                    cursor:pointer;
                }
            }

            p {
                max-height: 0;
                overflow: hidden;
                transition: max-height 1s ease;
            }

            &.active {
                p {
                    max-height: 10rem;
                }
            }
        }
    }

    @media (min-width:1000px) {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 90%;
        
        .banner {
            width:100%;
        }

        >*:not(.banner) {
            width: 50%;
        }

        img {
            object-fit: contain;
            width: 100%;
        }
    }
}