@use 'variables' as v;

footer {
    background-color: v.$accent-purple;
    color:white;
    font-size: 0.9rem;

    img {
        width: 20%;
        max-width: 5rem;
    }

    h2 {
        margin-top: 2rem;
    }

    >div:first-child {
        padding: 1rem;

        @media (min-width: 500px) {
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            margin: 0 auto;
            justify-content: space-between;
            
            > div {
                width: 15rem;
                gap: 4rem;
            }
            >div:first-child {
                flex-basis: 15rem;
            }
        }

        >div {
            a {
                color: white;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    >div:last-child {
        padding: 1rem;
        background-color: v.$primary-purple;

        >p {
            text-align: center;

            span {
                margin-right: 1rem;

                ion-icon {
                    font-size: 1rem;
                    margin: 0 0.5rem;

                    &:hover {
                        color: v.$accent-yellow;
                    }
                }
            }
        }
    }
}