@use 'variables' as v;

header {
  height: 10vh;
  display: flex;
  background-color: v.$off-white;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;;

  > div {
    display: flex;
    padding: 0.5rem;
    height: 100%;
    align-items: center;
    flex: 1 0 65%;

    img {
      width: 15%;
      height: 60%;
    }

    div {
      color: v.$primary-purple;
      font-family: v.$font-primary;
      font-weight: 900;
      font-size: 0.8rem;
      margin-left: 0.5rem;
    }
  }

  > .container {
    flex: 0 0 10%;
    align-self: center;
  }

  > nav {
    position: absolute;
    top: 8vh;
    left: 4rem;
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    opacity:0;
    transition: max-height 2s ease, opacity 200ms ease;
    width: 60vw;
    background-color: v.$off-white;

    &.open {
      max-height: 50vh;
      opacity: 1;

      > * {
        text-decoration: none;
        padding:0.2rem;
        border-bottom: 1px solid grey;
        font-size: 0.8rem;
        padding: 0.5rem 0.8rem;
        color:black;

        &.active {
          color: red;
        }
      }

      > div {
        cursor: pointer;
        padding:0;

        > div:first-child {
          padding: 0.5rem 0.8rem ;
          display:flex;
          justify-content:space-between;
        }

        > div:last-child {
          display: flex;
          flex-direction: column;;
          max-height: 0;
          overflow: hidden;
          transition: max-height 1s ease;
          
          &.open {
            max-height: 12vh;
          }

          > a {
            text-decoration: none;
            border-top: 1px solid grey;
            width: 100%;
            padding: 0.5rem 0;
            color: black;
            padding: 0.5rem 1.8rem;
          }
        }
      }
    }
  }
}


//menu icon

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 17px;
  user-select: none;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1em;
}

.checkmark span {
  width: 25px;
  height: 2px;
  background-color: v.$primary-purple;
  position: absolute;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.checkmark span:nth-child(1) {
  top: 10%;
}

.checkmark span:nth-child(2) {
  top: 50%;
}

.checkmark span:nth-child(3) {
  top: 90%;
}

.container input:checked + .checkmark span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.container input:checked + .checkmark span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
}

.container input:checked + .checkmark span:nth-child(3) {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  opacity: 0;
}