@use 'variables' as v;

main {
    padding-top: 12vh;

    section:first-child {
        min-height: 50vh;
        max-height: 88vh;
        height: 50vw;
        background-size: cover;
        background-position: center;
        color: white;
        padding: 2rem 0;

        @media (min-width: 750px) {
            a {
                margin-left: 4rem;
                font-size: 1.5rem;
            }
        }

        > div {
            background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
            padding: 0.5rem 1.5rem;

            @media (min-width: 750px) {
                width: 70%;
                background: none;
                margin: 0 0 0 2rem;
            }

            @media (min-width: 750px) {
                width: 70%;
                background: none;
                margin-top: 2rem;
            }

            h2 {
                font-size: clamp(1.9rem, 3.65vi + 1.08rem, 4rem);
            }
        }

        
    }

    #academics, #about {
        padding: 1rem 0.5rem;
        
        h2 {
            color: v.$accent-purple;
            text-align: center;
            font-weight: bold;
            font-size: clamp(1.56rem, 0.95vi + 1.35rem, 2.11rem);
        }
    }

    #academics {
        >p {
            text-align: center;
            width: 40%;
            margin: 0 auto 2rem auto;
        }

        >div {
            @media (min-width: 650px) {
                width: 90%;
                margin: 0 auto;
            }

            @media (min-width:1000px) {
                display: flex;
                width: 40rem;
                gap: 5rem;
            }

            > div{
                padding:0.5rem;
                background-color: v.$off-white;
                margin-bottom: 2rem;

                >div:first-child {
                    display: flex;
                    align-items: center;
                    gap: 0.7rem;
                    color: v.$accent-purple;

                    ion-icon {
                        font-size: 2rem;
                        margin-bottom: 0.1rem;
                        color: v.$accent-yellow;
                    }
                }

                a {
                    text-decoration: none;
                    color: v.$primary-purple;
                    transition: color 0.3s ease;

                    &:hover {
                        color: v.$accent-yellow;
                    }
                }
            }
        }
    }

    #about {
        @media (min-width: 650px) {
            width:90%;
            margin: 0 auto;
        }

        

        h2 {
            text-align: left;
        }

        p {
            font-size: 0.95rem;

            @media (min-width:1000px) {
                width: 80%;
                font-size: 1.1rem;
            }
        
        }
    }
}