$primary-purple: #7E57C2;
$accent-purple: #5E35B1;
$off-white: #F8F9FA;
$accent-yellow: #FFCA28;
$writeup: #555;


$font-primary: 'Poppins', sans-serif;
$font-secondary: 'times new roman', serif;


// --fs-sm: clamp(1.52rem, 2.69vi + 0.85rem, 3rem);
// --fs-base: clamp(1.9rem, 3.82vi + 0.95rem, 4rem);
// --fs-md: clamp(2.38rem, 5.38vi + 1.03rem, 5.33rem);
// --fs-lg: clamp(2.97rem, 7.53vi + 1.09rem, 7.11rem);
// --fs-xl: clamp(3.71rem, 10.48vi + 1.09rem, 9.47rem);
// --fs-xxl: clamp(4.64rem, 14.53vi + 1.01rem, 12.63rem);
// --fs-xxxl: clamp(5.8rem, 20.07vi + 0.78rem, 16.83rem);

// --fs-sm: clamp(0.8rem, 0.16vi + 0.76rem, 0.89rem);
// --fs-base: clamp(1rem, 0.33vi + 0.93rem, 1.19rem);
// --fs-md: clamp(1.25rem, 0.58vi + 1.12rem, 1.58rem);
// --fs-lg: clamp(1.56rem, 0.95vi + 1.35rem, 2.11rem);
// --fs-xl: clamp(1.95rem, 1.49vi + 1.62rem, 2.81rem);
// --fs-xxl: clamp(2.44rem, 2.27vi + 1.93rem, 3.75rem);
// --fs-xxxl: clamp(3.05rem, 3.38vi + 2.29rem, 5rem);